<%= turbo_frame_tag quote do %>
  <div class="column is-8 is-offset-2">
    <!-- START ARTICLE -->
    <a href="<%= quote_path(quote) %>">
      <div class="card article">
        <div class="tags has-addons is-pulled-right m-2">
          <%= fave_or_unfave_button(quote) %>
          <span class="tag is-info">
            <%= quote.favourites.count %>
          </span>
        </div>
        <div class="card-content">
          <p class="title article-title has-text-centered"><%= quote.text %></p>
          <div class="tags has-addons level-item">
            <span class="tag is-rounded is-info">@<%= quote.author %></span>
            <span class="tag is-rounded"><%= time_tag quote.created_at %></span>
          </div>
        </div>
      </div>
    </a>
  </div>
<% end %>
